{# 通过模板标签处理页面通用部分，避免重复 #}
{% extends 'base.html' %}

{# 页面标题 #}
{% block title %}我的网站{% endblock %}

{# 实现首页选中高亮 #}
{% block nav_blog_active %}active{% endblock %}

{# 导入blog.css文件 #}
{% load static %}

{# 加载自定义模板，实现博客列表可以看见评论数 #}
{% load comment_tags %}

{% block hearder_extends %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs=12 col-sm-9 col-md-8 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block blog_list_title %}博客列表（一共有篇{{ page_of_blogs.paginator.count }}博客）{% endblock %}
                    </div>
                    <!--博客列表-->
                    <div class="panel-body">
                        {% for blog in blogs %}
                        <div class="blog">
                            <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                            <p class="blog-info">
                                <span class="glyphicon glyphicon-tag"></span>
                                <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-time"></span>
                                {{ blog.created_time|date:"Y-m-d" }}&nbsp;&nbsp;
                                阅读({{ blog.read_num }})&nbsp;&nbsp;
                                评论({% get_comment_count blog %})
                            </p>
                            <p>{{ blog.content|striptags|truncatechars:10 }}...</p>
                        </div>
                        {% empty %}
                        <div class="blog">
                            <h3>-- 暂无博客，敬请期待！ --</h3>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!--页面下方分页功能-->
                <div class="paginator">
                    <ul class="pagination">
                        <!--上一页-->
                        <li>
                            {% if page_of_blogs.has_previous %}
                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        <!--全部页码-->
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}
                                <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <!--下一页-->
                        <li>
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <!--页面右侧的博客分类框-->
            <div class="hidden-xs col-sm-3 col-md-4 col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                            <li>
                                <a href="{% url 'blogs_with_type' blog_type.pk %}">
                                    {{ blog_type.type_name }}({{ blog_type.blog_count }})
                                </a>
                            </li>
                            {% empty %}
                            <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
